

<form action="/@ViewBag.ControllerName/index" method="post" enctype="application/x-www-form-urlencoded" class="form-group row">
    <div class="mx-sm-3 mb-2">
        <label for="event" class="sr-only"></label>
        <input type="text" name="eventSearch" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mb-2">Search on name</button>
</form>