@model IEnumerable<Event>

@{
    ViewData["Title"] = "Home Page";
}

<h3>Events</h3>

<p>
    <partial name="Form_EventsForEvent.cshtml" />
</p>

<div class="row row-cols-3 row-cols-md-2">
    @foreach (var item in Model)
    {
        <partial name="_DetailsEventPartial" model="item" />
    }
</div>


